<h1>Meus serviços</h1>

<%= link_to "Criar serviço", new_service_path, class: "btn btn-primary"%>

<% if @services.empty? %>
  <h2>Você ainda não criou nenhum serviço</h2>
<% else %>
  <div class="cards container mt-3">
    <div class="row">
      <div class="col-3"></div>
      <% @services.each do |service| %>
        <div class="card-service col-6">
          <h3>Nome: <%= service.nome %></h3>
          <h3>Categoria: <%= service.category.nome %></h3>
          <h3>Preço/hora: <%= service.preço %></h3>
        </div>
      <% end %>
      <div class="col-3"></div>
    </div>
  </div>
<% end %>
